<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NortwindConnection" connectionString="Data Source=DESKTOP-7QBD7T4;Initial Catalog=Northwind;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
    <add name="UserDBConnection" connectionString="Data Source=DESKTOP-7QBD7T4;Initial Catalog=usersdb;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>